<section>
  <div class="container">
    <div class="flex justify-between gap-[50px] lg:gap-[130px] xl:gap-0 flex-col lg:flex-row">

      <div class="relative w-full lg:w-1/2 xl:w-[770px] z-10 order-2 lg:order-1">
        <video class="p-4" src="/assets/images/video-02.mp4" autoplay muted loop="loop" preload="auto"></video>
        <div class="absolute z-20 bottom-4 w-[200px] md:w-[300px] right-[-30%] md:right-[-7%] lg:right-[22%]">

        </div>
      </div>

      <div class="w-full lg:w-1/2 xl:w-[670px] order-1 lg:order-2">
        <h2 class="heading">Proud to be one of the nations best</h2>
        <p class="text__para">For 30 years in row, U.S. News & World Report has recognized us as one of the best publics
          hospitals in the Nation and #1 in Texas. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facere sint nulla a dolores vel?
        </p>

        <p class="text__para mt-[30px]">Our best is something we strive for each day, caring for our patients-not
          looking back at what we accomplished but towards what we can do tomorrow.
          Providing the best. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, magni!
        </p>

        <a routerLink="">
          <button class="btn">Learn More</button>
        </a>
      </div>
    </div>
  </div>
</section>
