<div>
  <h3 class="text-[20px] leading-[30px] text-headingColor font-semibold flex items-center gap-2">
    About of
    <span class="text-irisBlueColor font-bold text-[24px] leading-9">
      Louis Adam
    </span>
  </h3>
  <p class="text__para">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, inventore. Tempora quo doloremque esse blanditiis adipisci, maxime id quos doloribus dolorum quae eius in eum recusandae? Sapiente sequi fuga obcaecati aliquid explicabo facere aliquam nam eaque aspernatur atque! Minima excepturi voluptatem obcaecati ipsum sit. Consequuntur voluptatum dolorem at consequatur magni.
  </p>
</div>

<div class="mt-12">
  <h3 class="text-[20px] leading-[30px] text-headingColor font-semibold">
    Education
  </h3>

  <ul class="pt-4 md:p-5">
    <li class="flex flex-col sm:flex-row sm:justify-between sm:items-end md:gap-5 mb-[30px]">
      <div>
        <span class="text-irisBlueColor text-[15px] leading-6 font-semibold">
          {{ formattedDate("09-17-2008") }} - {{ formattedDate("1-13-2012") }}
        </span>
        <p class="text-[16px] leading-6 font-medium text-textColor">
          PHD in Surgeon
        </p>
      </div>
      <p class="text-[14px] leading-5 font-medium text-textColor">
        New Apollo Hospital, New York.
      </p>
    </li>
    <li class="flex flex-col sm:flex-row sm:justify-between sm:items-end md:gap-5 mb-[30px]">
      <div>
        <span class="text-irisBlueColor text-[15px] leading-6 font-semibold">
          {{ formattedDate("12-04-2004") }} - {{ formattedDate("6-24-2007") }}
        </span>

        <p class="text-[16px] leading-6 font-medium text-textColor">
          PHD in Surgeon
        </p>
      </div>
      <p class="text-[14px] leading-5 font-medium text-textColor">
        New Apollo Hospital, New York.
      </p>
    </li>
  </ul>
</div>

<div class="mt-12">
  <h3 class="text-[20px] leading-[30px] text-headingColor font-semibold">
    Experience
  </h3>

  <ul class="grid sm:grid-cols-2 gap-[30px] pt-4 md:p-5">
    <li class="p-4 rounded bg-[#fff9ea]">
      <span class="text-yellowColor text-[15px] leading-6 font-semibold">
         {{ formattedDate("09-17-2008") }} - {{ formattedDate("1-13-2012") }}
      </span>
      <p class="text-[16px] leading-6 font-medium text-textColor">
          Sr. Surgeon
        </p>

        <p class="text-[14px] leading-5 font-medium text-textColor">
        New Apollo Hospital, New York.
      </p>
    </li>
    <li class="p-4 rounded bg-[#fff9ea]">
      <span class="text-yellowColor text-[15px] leading-6 font-semibold">
         {{ formattedDate("09-17-2008") }} - {{ formattedDate("1-13-2012") }}
      </span>
      <p class="text-[16px] leading-6 font-medium text-textColor">
          Sr. Surgeon
        </p>

        <p class="text-[14px] leading-5 font-medium text-textColor">
        New Apollo Hospital, New York.
      </p>
    </li>
  </ul>
</div>
