 
      <section>
        <div class="px-4 mx-auto max-w-screen-md">
        <h2 class="heading text-center">Contact Us</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text_para">
          Got a technical issue? Want to send feedback about a beta feature? Let us know.
        </p>
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="space-y-8">
          <div>
            <label for="email" class="form__label">Your Email</label>
            <input 
            type="email" 
            id="email" 
            placeholder="example@gmail.com" 
            class="form__input mt-1" 
            formControlName="email" />
          </div>
          <div>
             <label for="subject" class="form__label">Subject</label>
            <input 
            type="text" 
            id="subject" 
            placeholder="Let us know how we can help you" 
            class="form__input mt-1" 
            formControlName="subject" />
          </div>
          <div>
             <label for="message" class="form__label">Your Message</label>
            <textarea 
            rows="6"
            type="text" 
            id="message" 
            placeholder="Leave a comment" 
            class="form__input mt-1" 
            formControlName="message"></textarea>
          </div>
          <button type="submit" class="btn rounded sm:w-fit">Submit</button>
        </form>
      </div>
      </section>