<section class="px-5 xl:px-0">
  <div class="max-w-[1170px] mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2">

      <div class="hidden lg:block rounded-1-lg">
        <figure class="rounded-l-lg">
          <img src="/assets/images/signup.png" alt="" class="w-full rounded-l-lg" />
        </figure>
      </div>

      <div class="rounded-l-lg lg:pl-16 py-10">
        <h3 class="text-headingColor text-[22px] leading-9 font-bold mb-10">
          Create an <span class="text-primaryColor">account</span>
        </h3>
        <form [formGroup]="signUpForm">
          <div class="mb-5">
            <input type="text"
            placeholder="Full Name"
            name="name"
            class="w-full py-3 border-b border-solid
        border-[#0066ff61] focus:outline-none focus:border-b-primaryColor text-[16px] leading-7
         text-headingColor placeholder:text-textColor cursor-pointer" required>
          </div>

          <div class="mb-5">
        <input type="email"
        placeholder="Enter Your Email"
        name="email"
        class="w-full py-3 border-b border-solid
        border-[#0066ff61] focus:outline-none focus:border-b-primaryColor text-[16px] leading-7
         text-headingColor placeholder:text-textColor cursor-pointer"
        required>
      </div>

      <div class="mb-5">
        <input type="password"
        placeholder="Password"
        name="password"
        class="w-full py-3 border-b border-solid
        border-[#0066ff61] focus:outline-none focus:border-b-primaryColor text-[16px] leading-7
         text-headingColor placeholder:text-textColor cursor-pointer"
        required>
      </div>

      <div class="mb-5 flex items-center justify-between">
        <label for="" class="text-headingColor font-bold text-[16px] leading-7">
          Are you a:
          <select name="role" class="text-textColor font-semibold text-[15px] leading-7 px-4 py-3 focus:outline-none">
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
          </select>
        </label>

        <label for="" class="text-headingColor font-bold text-[16px] leading-7">
          Gender:
          <select name="gender" class="text-textColor font-semibold text-[15px] leading-7 px-4 py-3 focus:outline-none">
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </label>
      </div>

      <div class="mb-5 flex items-center gap-3">
  <figure class="w-[60px] h-[60px] rounded-full border-2 border-solid border-primaryColor flex items-center justify-center">
    <img src="/assets/images/avatar-icon.png" alt="" class="w-full rounded-full" />
  </figure>

  <div class="relative w-[130px] h-[50px]">
    <input
      type="file"
      name="photo"
      id="customFile"
      class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer">
    <label for="customFile" class="absolute top-0 left-0 w-full h-full flex
           items-center px-[0.75rem] py-[0.375rem] text-[15px] leading-6 overflow-hidden bg-[#92939546] text-headingColor font-semibold rounded-lg truncate cursor-pointer ">
          Upload a photo</label>
  </div>
</div>

<div class="mt-7">
        <button type="submit"
        class="w-full bg-primaryColor text-white text-[18px] leading-[30px] rounded-lg px-4 py-3 hover:bg-blue-600 transition-colors">
        Sign Up</button>
      </div>

      <p class="mt-5 text-textColor text-center">
        Already have an account?
        <a routerLink="/login"
        class="text-primaryColor cursor-pointer">
        <button>Login</button>
        </a>
      </p>
        </form>
      </div>
    </div>
  </div>
</section>
