<div class="mt-[30px] lg:mt-[55px]">
  <swiper-container
  navigation="false"
  pagination="true"
  pagination-clickable="true"
  autoplay="true"
  >
  <swiper-slide class="bg-orange-200 rounded-xl">
    <div class="py-[30px] px-5 rounded-3">
      <div class="flex items-center gap-[13px]">
        <img src="/assets/images/patient-avatar.png" alt="">
        <div>
          <h4 class="text-[18px] leading-[30px] font-semibold text-headingColor">
            Leena Johns
          </h4>
          <div class="flex items-center gap-[2px]">
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
          </div>
        </div>
      </div>

      <p class="text-[16px] leading-7 mt-4 text-headingColor font-[400]">
        "I've taken medical services from them.
        Their treatment are beyond expectations."</p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="py-[30px] px-5 rounded-3 shadow-2xl">
      <div class="flex items-center gap-[13px]">
        <img src="/assets/images/patient-avatar.png" alt="">
        <div>
          <h4 class="text-[18px] leading-[30px] font-semibold text-headingColor">
            Marita Peterson
          </h4>
          <div class="flex items-center gap-[2px]">
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
          </div>
        </div>
      </div>

      <p class="text-[16px] leading-7 mt-4 text-textColor font-[400]">
        "I've taken medical services from them.
        Their treatment are beyond expectations."</p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="py-[30px] px-5 rounded-3 shadow-2xl">
      <div class="flex items-center gap-[13px]">
        <img src="/assets/images/patient-avatar.png" alt="">
        <div>
          <h4 class="text-[18px] leading-[30px] font-semibold text-headingColor">
            Jennifer Adison
          </h4>
          <div class="flex items-center gap-[2px]">
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
          </div>
        </div>
      </div>

      <p class="text-[16px] leading-7 mt-4 text-textColor font-[400]">
        "I've taken medical services from them.
        Their treatment are beyond expectations."</p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="py-[30px] px-5 rounded-3 shadow-2xl">
      <div class="flex items-center gap-[13px]">
        <img src="/assets/images/patient-avatar.png" alt="">
        <div>
          <h4 class="text-[18px] leading-[30px] font-semibold text-headingColor">
            Andiana Johns
          </h4>
          <div class="flex items-center gap-[2px]">
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
            <i class="fa-solid fa-star text-yellowColor w-[18px] h-5"></i>
          </div>
        </div>
      </div>

      <p class="text-[16px] leading-7 mt-4 text-textColor font-[400]">
        "I've taken medical services from them.
        Their treatment are beyond expectations."</p>
    </div>
  </swiper-slide>

  </swiper-container>
</div>
