<div class="shadow-panelShadow p-3 lg:p-5 rounded-md">
  <div class="flex items-center justify-between">
    <p class="text__para mt-0 font-semibold">Ticket Price</p>
    <span class="text-[16px] leading-7 lg:text-[22px] lg:leading-8 text-headingColor font-bold">
      500 USD
    </span>
  </div>

  <div class="mt-[30px]">
    <p class="text__para mt-0 font-semibold text-headingColor">
      Available Time Slots:
    </p>

    <ul class="mt-3">
      <li class="flex items-center justify-between mb-2">
        <p class="text-[15px] leading-6 text-textColor font-semibold">
          Sunday
        </p>
        <p class="text-[15px] leading-6 text-textColor font-semibold">
          4:00 PM - 10:00 PM
        </p>
      </li>
      <li class="flex items-center justify-between mb-2">
        <p class="text-[15px] leading-6 text-textColor font-semibold">
          Tuesday
        </p>
        <p class="text-[15px] leading-6 text-textColor font-semibold">
          4:00 PM - 10:00 PM
        </p>
      </li>
      <li class="flex items-center justify-between mb-2">
        <p class="text-[15px] leading-6 text-textColor font-semibold">
          Wednesday
        </p>
        <p class="text-[15px] leading-6 text-textColor font-semibold">
          4:00 PM - 10:00 PM
        </p>
      </li>
    </ul>
  </div>

  <button class="btn px-2 w-full rounded-md">Book Appointment</button>
</div>
