<form action="">
  <div>
    <h3 class="text-headingColor text-[16px] leading-6 font-semibold mb-4 mt-0">
      How would you rate the overall experiences?
    </h3>

    <div>
      <button type="button"
      *ngFor="let _ of stars; let index = index"
      [ngClass]="{
          'text-yellowColor': index < currentRating,
          'text-gray-400': index >= currentRating && index >= hover
        }"
        (click)="rate(index + 1)"
        (mouseenter)="setHover(index + 1)"
        (mouseleave)="setHover(currentRating)"
        (dblclick)="resetRating()"
      class="bg-transparent border-none outline-none text-[22px] cursor-pointer">
        <span>
           <i class="fa-solid fa-star "></i>
        </span>
  </button>
    </div>
  </div>

  <div class="mt-[30px]">
    <h3 class="text-headingColor text-[16px] leading-6 font-semibold mb-4 mt-0">
      Share your feedback or suggestions*
    </h3>

    <textarea
    class="border border-solid border-[#0066ff34]
    focus:outline outline-primaryColor w-full px-4 py-3 rounded-md"
    rows="5"
    placeholder="Write your message"
    [(ngModel)]="reviewText">
    </textarea>
  </div>

  <button type="submit" (ngSubmit)="handleSubmitReview($event)" class="btn">
    Submit Feedback
  </button>
</form>
