<section class="hero__section pt-[60px] 2xl:h-[800px]">
  <div class="container">
    <div
      class="flex flex-col lg:flex-row gap-[90px] items-center justify-between"
    >
      <div>
        <div class="lg:w-[570px]">
          <h1
            class="text-[36px] leading-[46px] text-headingColor font-[800] md:text-[60px] md:leading-[70px]"
          >
            We help your <span class="text-primaryColor font-extrabold">Pets</span> live a healthy, longer life.
          </h1>
          <p class="text__para">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident
            reiciendis ea repellendus quae veniam a velit, cumque veritatis
            omnis, culpa quisquam dolorem earum excepturi! Quae, debitis.
            Quisquam saepe amet, molestias error delectus accusantium voluptas
            a.
          </p>

          <button class="btn">Request an Appointment</button>
        </div>


      </div>

      <div class="flex gap-[30px] justify-end">
        <div>
          <img class="w-full rounded-full" src="/assets/images/hero-img01.png" alt="" />
        </div>
        <div class="mt-[30px]">
          <img
            class="w-full mb-[50px] rounded-full"
            src="/assets/images/hero-img02.png"
            alt=""
          />
          <img class="w-full ml-[-150px] rounded-full" src="/assets/images/hero-img03.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="lg:w-[470px] mx-auto">
      <h2 class="heading text-center">Providing the best medical services</h2>
      <p class="text__para text-center">
        World-class care for everyone. Our health System offers unmatched,
        expert health care.
      </p>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-[30px] mt-[30px] lg:mt-[55px]"
    >
      <div class="py-[30px] px-5">
        <div class="flex items-center justify-center">
          <img class="w-full h-[450px]" src="/assets/images/icon01.png" alt="" />
        </div>

        <div class="mt-[30px]">
          <h2
            class="text-[26px] leading-9 text-headingColor font-[700] text-center"
          >
            Find a Doctor
          </h2>
          <p
            class="text-[16px] leading-7 text-textColor font-[400] mt-4 text-center"
          >
            World-class care for everyone. Our health System offers unmatched,
            expert health care. From the lab to the clinic.
          </p>

          <a
            routerLink="doctors"
            class="w-[44px] h-[44px] rounded-full border border-solid border-[#181a1e] mt-[30px] mx-auto flex items-center justify-center group hover:bg-primaryColor hover:border-none"
          >
            <i class="fa-solid fa-arrow-right group-hover:text-white"></i>
          </a>
        </div>
      </div>

      <div class="py-[30px] px-5">
        <div class="flex items-center justify-center">
          <img src="/assets/images/icon02.png" alt="" />
        </div>

        <div class="mt-[30px]">
          <h2
            class="text-[26px] leading-9 text-headingColor font-[700] text-center"
          >
            Find a Location
          </h2>
          <p
            class="text-[16px] leading-7 text-textColor font-[400] mt-4 text-center"
          >
            World-class care for everyone. Our health System offers unmatched,
            expert health care. From the lab to the clinic.
          </p>

          <a
            routerLink="doctors"
            class="w-[44px] h-[44px] rounded-full border border-solid border-[#181a1e] mt-[30px] mx-auto flex items-center justify-center group hover:bg-primaryColor hover:border-none"
          >
            <i class="fa-solid fa-arrow-right group-hover:text-white"></i>
          </a>
        </div>
      </div>

      <div class="py-[30px] px-5">
        <div class="flex items-center justify-center">
          <img src="/assets/images/icon03.png" alt="" />
        </div>

        <div class="mt-[30px]">
          <h2
            class="text-[26px] leading-9 text-headingColor font-[700] text-center"
          >
            Book an Appointment
          </h2>
          <p
            class="text-[16px] leading-7 text-textColor font-[400] mt-4 text-center"
          >
            World-class care for everyone. Our health System offers unmatched,
            expert health care. From the lab to the clinic.
          </p>

          <a
            routerLink="doctors"
            class="w-[44px] h-[44px] rounded-full border border-solid border-[#181a1e] mt-[30px] mx-auto flex items-center justify-center group hover:bg-primaryColor hover:border-none"
          >
            <i class="fa-solid fa-arrow-right group-hover:text-white"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-about></app-about>

<section>
  <div class="container">
    <div class="xl:w-[470px] mx-auto">
      <h2 class="heading text-center">Our medical services</h2>
      <p class="text__para text-center">
        World-class care for everyone. Our health System offers unmatched,
        expert health care.
      </p>
    </div>

    <app-services></app-services>
  </div>
</section>

<section>
  <div class="container">
    <div
      class="flex justify-between gap-[50px] lg:gap-[130px] xl:gap-0 flex-col lg:flex-row"
    >
      <div class="xl:w-[670px]">
        <h2 class="heading">
          Get virtual treatment <br />
          anytime.
        </h2>

        <ul class="pl-4">
          <li class="text__para">1. Schedule the appointment directly.</li>
          <li class="text__para">
            2. Search for your physician here, and contact their office.
          </li>
          <li class="text__para">
            3. View our physicians who are accepting new patients, use the
            online scheduling tool to select an appointment time.
          </li>
        </ul>
        <a routerLink="">
          <button class="btn">Learn More</button>
        </a>
      </div>

      <div
        class="flex relative z-10 xl:w-[770px] justify-end mt-[50px] lg:mt-0"
      >
        <img src="/assets/images/feature-img.png" class="w-3/4" alt="" />

        <div
          class="w-[150px] lg:w-[248px] bg-white absolute bottom-[50px] left-0 md:bottom-[100px] md:left-5 z-20 p-2 pb-3 lg:pt-4 lg:px-4 lg:pb-[26px] rounded-[10px]"
        >
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-[6px] lg:gap-3">
              <p
                class="text-[10px] leading-[10px] lg:text-[14px] lg:leading-5 text-headingColor font-[600]"
              >
                Tue, 24
              </p>
              <p
                class="text-[10px] leading-[10px] lg:text-[14px] lg:leading-5 text-textColor font-[400]"
              >
                10:00 AM
              </p>
            </div>
            <span class="w-5 h-5 lg:w-[34px] lg:h-[34px] flex items-center justify-center bg-yellowColor rounded py-1 px-[6px] lg:py-3 lg:px-[9px]">
              <img src="/assets/images/video-icon.png" alt="">
            </span>
          </div>

          <div class="w-[90px] lg:w-[100px] bg-[#ccf0f3] py-1 px-2 lg:py-[6px] lg:px-[10px] text-[12px] leading-[8px] lg-text-[12px] lg:leading-4 text-irisBlueColor font-[500] mt-2 lg:mt-4 rounded-full">
            Consultation
          </div>

          <div class="flex items-center gap-[6px] lg:gap-[10px] mt-2 lg:mt-[18px]">
            <img src="/assets/images/avatar-icon.png" alt="">
            <h4 class="text-[10px] leading-3 lg:text-[16px] lg:leading-[22px] font-[700] text-headingColor">
              Wayne Collins
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="xl:w-[470px] mx-auto">
      <h2 class="heading text-center">Our Great Doctors</h2>
      <p class="text__para text-center">
        World-class care for everyone. One health System offers unmatched, expert health care.
      </p>
    </div>

    <app-doctor-list></app-doctor-list>
  </div>
</section>


<section>
  <div class="container">
    <div class="flex justify-between gap-[50px] lg:gap-0">
      <div class="w-1/2 hidden md:block">
        <img src="/assets/images/faq-img.png" alt="">
      </div>

      <div class="w-full md:w-1/2">
        <h2 class="heading">
          Most questions by our beloved patients
        </h2>

        <app-faq-list></app-faq-list>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
     <div class="xl:w-[470px] mx-auto">
      <h2 class="heading text-center">What our Patients say</h2>
      <p class="text__para text-center">
        World-class care for everyone. One health System offers unmatched, expert health care.
      </p>
    </div>

    <app-testimonial></app-testimonial>
  </div>
</section>
