<div class="p-3 lg:p-5 rounded-[12px] border border-solid border-gray-300 mb-5 cursor-pointer">
  <div class="flex items-center justify-between gap-5" (click)="toggleAccordion()">
    <h4 class="text-[16px] leading-7 lg:text-[22px] lg:leading-8 text-headingColor">
      {{ item.question }}
    </h4>
    <div
      class="w-7 h-7 lg:w-8 lg:h-8 border border-solid border-[#141F21] rounded flex items-center justify-center"
      [class.bg-primaryColor]="isOpen"
      [class.text-white]="isOpen"
      [class.border-none]="isOpen"
    >
      <i class="fas" [class.fa-minus]="isOpen" [class.fa-plus]="!isOpen"></i>
</div>
  </div>

  <div class="mt-4">
    <p *ngIf="isOpen" class="text-[14px] leading-6 lg:text-[16px] lg:leading-7 f0nt-[400] text-textColor">
      {{item.content}}
    </p>
  </div>
  </div>
